<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- <arg name="map_path" default="$(find relative_navigator)/topological_maps/dkan_perimeter/known_4_actual.pkl"/> -->
    <arg name="map_path" default="$(find relative_navigator)/topological_maps/dkan_perimeter/known_4_gt_pose.pkl"/>
    <!-- <arg name="map_path" default="$(find relative_navigator)/topological_maps/dkan_perimeter/single_test.pkl"/> -->
    <!-- <arg name="map_path" default="$(find relative_navigator)/topological_maps/center_perimeter/unknown_5_actual.pkl"/> -->

    <node pkg="relative_navigator" type="topological_map_visualizer_node.py" name="topological_map_visualizer" output="screen">
        <rosparam subst_value="True">
            hz: 0.1
            map_path: $(arg map_path)
        </rosparam>
    </node>

  <node pkg="rviz" name="rviz_map_frame" type="rviz" args="-d $(find relative_navigator)/config/rviz/map.rviz" output="screen"/>
</launch>
