<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="map_path" default="$(find relative_navigator)/topological_maps/dkan_perimeter/dkan_4th_perimeter_4th_fullpower.pkl"/>
    <!-- <arg name="map_path" default="$(find relative_navigator)/topological_maps/dkan_perimeter/dkan_single_script_test.pkl"/> -->
    <!-- <arg name="map_path" default="$(find relative_navigator)/topological_maps/center_perimeter/center_single_script_test2.pkl"/> -->
    <!-- <arg name="map_path" default="$(find relative_navigator)/topological_maps/center_perimeter/center_single_test_fullpower.pkl"/> -->

    <node pkg="relative_navigator" type="topological_map_test_node.py" name="topological_map_test" output="screen">
        <rosparam subst_value="True">
            hz: 0.1
            map_path: $(arg map_path)
        </rosparam>
    </node>

  <node pkg="rviz" name="rviz_map_frame" type="rviz" args="-d $(find relative_navigator)/config/rviz/map.rviz" output="screen"/>
</launch>
