<?xml version="1.0"?>
<launch>
  <node name="image_republish" pkg="image_transport" type="republish" args="compressed raw">
      <!-- <remap from="in" to="/camera/color/image_raw" /> -->
      <!-- <remap from="out" to="/camera/color/image_raw" /> -->
      <remap from="in" to="/usb_cam/image_raw" />
      <remap from="out" to="/usb_cam/image_raw" />
  </node>
  <node pkg="rosbag" name="play" type="play" args="--clock -r 5.0 $(env HOME)/bag/abstrelposnet/dkan_perimeter/2022-9-30-1515_dkan_perimeter_2.bag"/>
    <param name="use_sim_time" value="true" type="bool"/>
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find rosbag_tools)/config/rviz/rosbag_check.rviz" output="screen"/>
</launch>
